# Conectar a MySQL de MS1 (dentro de Docker: DB_HOST=db, en local: localhost)
DB_HOST=localhost
DB_PORT=3306
DB_USER=pasajeros_user
DB_PASSWORD=pasajeros_pass
DB_NAME=pasajeros_db

# S3 (DS-04/DS-05 - lo provee el Lead)
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1