# Conectar a MongoDB de MS3 (dentro de Docker: MONGO_URI=mongodb://db:27017/infra)
MONGO_URI=mongodb://localhost:27017/infra

# S3 (DS-04/DS-05 - lo provee el Lead)
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
