# Conectar a MongoDB de MS3 (dentro de Docker: MONGO_HOST=ms3_mongo_db, en local: localhost)
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=infra_db

# S3 (DS-04/DS-05 - lo provee el Lead)
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1